* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #fff;
  box-shadow: #b6b2b2 0px 1px 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  height: 100px;
  width: auto;
  object-fit: contain;
  padding: 0px;
  margin: 0;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  padding-right: 10px;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #000;
  list-style: none;
  padding: 0;
}

.nav-links.open {
  display: flex;
}

.nav-links li a {
  display: block;
  padding: 16px 20px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #f0f0f0;
}

.nav-links li a:hover {
  color: #117930;
}

/* Desktop */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    border: none;
    gap: 32px;
    padding: 0;
  }

  .nav-links li a {
    padding: 0;
    border: none;
    font-size: 14px;
  }
}